@section Scripts{
<script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/app-albums.js"></script>
    <script src="~/js/albumsController.js"></script>

}
<div class="row" ng-app="app-albums">
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-controller="albumsController as vm">
                    {{ vm.name }}
            </div>

        </div>
    </div>
</div>